/* style add for all element */
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: white;
}

/* style for body */
body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #5eaec2;
	color: white;
}

/* style root div */
#root {
	width: 80%;
	border-right: 1px solid #323232;
	border-left: 1px solid #323232;
}

/* style navbar component ---------------------------------*/
.navbar {
	align-items: center;
	display: flex;
	height: 100px;
	padding: 0px 20px;
	justify-content: space-between;
	border-bottom: 1px solid #323232;
  background-color: #0b4a71b5;
}

.navbar .title {
	color: white;
	margin-right: 10px;
	font-size: 2rem;
	font-style: italic;
	font-weight: 500;
}
.left-nav {
	display: flex;
	align-items: center;
	width: 50%;
}
.right-nav {
	display: flex;
	align-items: center;
}
.right-nav h5 {
	color: #dddddd;
	margin-right: 10px;
}

.addhabit-btn {
	cursor: pointer;
	color: white;
	background-color: #3662cc;
	padding: 8px 20px;
	border-radius: 7px;
}
/* modal */
.modal-content {
	background-color: #333333;
}
.modal-header {
	border: none;
}
.modal-footer {
	border: none;
}
/* ---------------------------------------------------- */

/* habits components style------------------------------ */
.habits {
	width: 100%;
}

/* habit under habits component */
.habit {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #323232;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}
.habit:hover {
	background-color: #687780;
}
.habit-left {
	display: flex;
	align-items: center;
}
.habit-left i {
	color: #2aa8d0;
	padding: 10px;
	border-radius: 50%;
	background-color: #304950;
	margin-right: 10px;
}
.day-complete {
	color: #767475;
	font-size: small;
}
.habit-right {
	display: flex;
	align-items: center;
}
.log-btn {
	text-decoration: none;
	cursor: pointer;
	background-color: #424242;
	padding: 10px;
	border-radius: 7px;
	margin-right: 10px;
	color: white;
	border: none;
}
.log-btn:hover {
	color: white;
}
.log-btn i {
	margin-right: 5px;
}
.fa-trash {
	cursor: pointer;
	padding: 10px;
	border-radius: 7px;
	background-color: #424242;
}
/* ------------------------------------------------------*/

/* style week view container --------------------------- */
.days-container {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/* style day view component */
.day-container {
	height: 4rem;
	/* width: 150px; */
	width: 80%;
	margin-bottom: .7rem;
	background-color: #566567;
	border-radius: 2px;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
	align-content: center !important;
	padding: 5px;
}

.task{
	height: 100%;
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: start;
}

p {
	margin: 0%;
}

.circle-icon {
	font-size: 24px;
	margin: 5px 11px;
	/* color: #0B5ED7; */
	cursor: pointer;
}
.active {
	color: #0b5ed7;
}
/* ------------------------------------------------------*/
